/* Base Setup */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(122, 144, 169);
    color: #C9D1D9;
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    margin: auto;
    background: rgba(22, 27, 34, 0.8);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Glassmorphism effect for Safari */
    -webkit-backdrop-filter: blur(10px); /* Glassmorphism effect for Chrome, Edge, and Opera */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border for glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2); /* Enhancing the glass effect */
}

/* Styling for titles */
.title {
    font-size: 2.5rem;
    color: #58a6ff;
    text-align: center;
    margin-bottom: 20px;
}


/* Input Group Styling */
.input-group label {
    color: #BDBDBD;
    display: block;
    margin-bottom: 8px;
}

.input {
    background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent input background */
    color: #FFF;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    backdrop-filter: blur(5px); /* Glassmorphism effect for inputs */
    -webkit-backdrop-filter: blur(5px); /* Glassmorphism effect for inputs */
}

/* Button Styling */
.btn {
    background-color: #238636;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block; /* Makes the button wider, adjust as needed */
    width: 100%; /* Adjust if you prefer different width */
    margin: 10px 0; /* Spacing around buttons */
    transition: background-color 0.3s ease;
    backdrop-filter: blur(4px); /* Glassmorphism effect */
    -webkit-backdrop-filter: blur(4px); /* Glassmorphism effect */
}

.btn:hover {
    background-color: #2EA043;
    transform: translateY(-2px);
}

/* Subscription List Styling */
.subscription-list {
    background: rgba(13, 17, 23, 0.8); /* Semi-transparent for glassy look */
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    -webkit-backdrop-filter: blur(10px); /* Glassmorphism effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Enhancing the glass effect */
}


#subscriptions li {
    position: relative; /* Essential for absolute positioning of children */
    padding-right: 90px; /* Increased to provide space for both buttons */
    background-color: rgba(22, 27, 34, 0.5); /* Semi-transparent list item background */
    color: #C9D1D9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    list-style-type: none; /* Removes bullet points */
    animation: slideIn 0.5s ease-out forwards;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border for depth */
    backdrop-filter: blur(5px); /* Glass effect */
    -webkit-backdrop-filter: blur(5px); /* Glass effect */
    transition: transform 0.2s;
}

#subscriptions li:hover {
    transform: scale(1.02);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Result Styling */
.result {
    background-color: rgba(66, 66, 66, 0.5); /* Semi-transparent */
    color: #FFF;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    backdrop-filter: blur(5px); /* Glassmorphism effect */
    -webkit-backdrop-filter: blur(5px); /* Glassmorphism effect */
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F85149;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 8px rgba(248, 81, 73, 0.5);
}

.delete-btn:hover {
    background-color: #F85149;
    /* Enhanced glow and lift effect on hover */
    box-shadow: 0 0 15px rgba(248, 81, 73, 0.8);
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0,0.8); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    backdrop-filter: blur(10px); /* Glassmorphism effect for Safari */
    -webkit-backdrop-filter: blur(10px); /* Glassmorphism effect for Chrome, Edge, and Opera */
    
}

.modal-content {
    background-color: rgba(122, 144, 169, 0.2);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px; /* Optional: for rounded corners */
    
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.edit-btn {
    position: absolute;
    right: 75px; /* Adjusted to create space between edit and delete buttons */
    top: 50%;
    transform: translateY(-50%);
    background-color: #4978f8;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 8px rgba(73, 163, 248, 0.5);
}

.edit-btn:hover {
    background-color: #4960f8;
    /* Enhanced glow and lift effect on hover */
    box-shadow: 0 0 15px rgba(73, 105, 248, 0.8);
}


/* Responsive Design */
@media (max-width: 768px) {
    .container, .title, .input, .btn, .result {
        padding: 10px;
        font-size: smaller; /* Adjusts text size for smaller screens */
    }
}
