/* Base Setup */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background: #0D1117;
    color: #C9D1D9;
}

.container {
    max-width: 960px;
    margin: auto;
    background: #161B22;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    /* Glow effect */
    box-shadow: 0 0 20px rgba(88, 166, 255, 0.5); /* Subtle blue glow */
}

/* Styling for titles */
.title {
    font-size: 2.5rem;
    color: #58A6FF;
    text-align: center;
    margin-bottom: 20px;
}

/* Input Group Styling */
.input-group label {
    color: #BDBDBD;
    display: block;
    margin-bottom: 8px;
}

.input {
    background-color: #333;
    color: #FFF;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Button Styling */
.btn {
    background-color: #238636;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block; /* Makes the button wider, adjust as needed */
    width: 100%; /* Adjust if you prefer different width */
    margin: 10px 0; /* Spacing around buttons */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2EA043;
}

/* Subscription List Styling */
.subscription-list {
    background: #0D1117;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    /* Adding glow to subscription list container */
    box-shadow: 0 0 20px rgba(88, 166, 255, 0.5); /* Subtle blue glow */
}

#subscriptions li {
    position: relative; /* Essential for absolute positioning of children */
    padding-right: 40px; 
    background-color: #161B22;
    color: #C9D1D9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    list-style-type: none; /* Removes bullet points */
    animation: slideIn 0.5s ease-out forwards;
}

/* Result Styling */
.result {
    background-color: #424242;
    color: #FFF;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.delete-btn {
    position: absolute;
    right: 10px; /* Adjust as necessary to move closer or farther from the right edge */
    top: 50%; /* Centers the button vertically */
    transform: translateY(-50%);
    background-color: #F85149;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    /* Glow effect */
    box-shadow: 0 0 8px rgba(248, 81, 73, 0.5); /* Matching glow color to the button background */
}

.delete-btn:hover {
    /* Enhancing glow on hover */
    box-shadow: 0 0 12px rgba(248, 81, 73, 0.8); /* Brighter and wider glow */
}


/* Responsive Design */
@media (max-width: 768px) {
    .container, .title, .input, .btn, .result {
        padding: 10px;
        font-size: smaller; /* Adjusts text size for smaller screens */
    }
}
